/*! 
This stylesheet is dedicated to my codepen
@see: https://codepen.io/raphaelsanchez
Author: Raphael Sanchez
*/

/** 
 * Reset 
 * ----------------------------------------------- */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** 
 * Variables 
 * ----------------------------------------------- */
:root {
  --gap: 2rem;
  --border-width: 4px;
  --color: #111;
  --background-color: #fffbd5;

  --font-size--base: 16px;
}

/** 
 * Bases 
 * ----------------------------------------------- */

 /* Root */
html {
  font-size: var(--font-size--base);
}

/* Document */
body {
  color: var(--color);
  background-color: var(--background-color);
  line-height: 1.5;
}

/* Headings */
h2 {
  margin: 2em 0 1em;
}

/** 
 * Media Queries 
 * ----------------------------------------------- */

/** For tablet and above  */
@media (min-width: 45rem) {
  :root {
    --font-size--base: 1.2rem;
  }
}
