.site-header {

  margin: auto;
  padding: 4rem 1rem 2rem;

  width: 800px;
  max-width: 90%;


  // logo
  img {
    width: 500px;
    max-width: 90%;
  }
}
.page-home {

  .page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
  }

  .logo {
    width: 300px;
    max-width: 50%;
  }

}

.page-default {

  .page-content {
    margin: auto;
    padding: 1rem;

    width: 800px;
    max-width: 90%;
  }

}
